.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

span {

  cursor: pointer;
  line-height: 25px;
  text-align: center;
  font-size: x-large;
}

.mat-mdc-form-field {
  width: 45%;
}

.text {
  font-size: 17px !important;
  font-weight: 500 !important;
}

.container {
  display: flex;
  justify-content: center;
}

canvas {
  height: 100%;
  /* we need these for full-screen effect */
  width: 100%;
}