<h2 mat-dialog-title>{{ description }}</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-row p-2">
      <div class="full-width">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" required />
        </mat-form-field>
        <app-field-error
          [control]="name"
          controlName="Team name"
        ></app-field-error>
      </div>

      <div class="full-width">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Department</mat-label>
          <mat-select formControlName="department_id">
            <mat-option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>

  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions class="right">
  <div class="form-group">
    <button
      mat-flat-button
      [disabled]="formGroup.invalid"
      color="primary"
      class="mr-1 right"
      (click)="onSubmit()"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1 right"
      ></span>
      {{ isAddMode ? 'Add' : 'Update' }}
    </button>

    <button
      mat-flat-button
      type="button"
      color="warn"
      class="mr-1 right"
      (click)="close()"
    >
      Cancel
    </button>
  </div>
</mat-dialog-actions>
