<script src="celebrate.js" type="module"></script>
<body>

    <div class="text-animation">Hover Over</div>
  
    <div class="main-div">
      <div class="podium">
        <!-- 1st Place-->
        <div class="box-1">
          <div style="text-align: center;">
            <span class="pos-1">3</span>
          </div>
  
          <div class="runner-2" onmouseover="runner_2_celebrate()" onmouseout="runner_2_normal()" id="runner-2-main">
            <div style="text-align: center;">
              <div class="runner-2-face">
              </div>
            </div>
            <div style="text-align: center;">
              <div class="runner-2-shirt">
                <div class="medal-3">
                  <div class="bronze-medal">
                    <span class="number">3</span>
                  </div>
                  <div class="ribbon-1">
                  </div>
                  <div class="ribbon-2">
                  </div>
                  <div class="ribbon-3">
                  </div>
                  <div class="ribbon-4">
                  </div>
                </div>
                <div class="runner-2-hand-1" id="runner-2-hand-1">
                </div>
                <div class="runner-2-hand-2" id="runner-2-hand-2">
                </div>
              </div>
            </div>
            <div style="text-align: center;">
              <div class="runner-2-pant">
                <div class="runner-2-leg-1" id="runner-2-leg-1">
                </div>
                <div class="runner-2-leg-2" id="runner-2-leg-2">
                  <span class="runner2-jerseyno">80</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2nd Place -->
        <div class="box-2">
          <div style="text-align: center;">
            <span class="pos-2">1</span>
          </div>
  
          <!-- Winner -->
          <div class="winner" id="winner" onmouseover="celebrate()" onmouseout="normal()">
            <!-- Face -->
            <div style="text-align: center;">
              <div class="face">
              </div>
            </div>
            <!-- Shirt -->
            <div style="text-align: center;">
              <div class="medal-1">
                <div class="gold-medal">
                  <span class="number">1</span>
                </div>
                <div class="ribbon-1">
                </div>
                <div class="ribbon-2">
                </div>
                <div class="ribbon-3">
                </div>
                <div class="ribbon-4">
                </div>
              </div>
              <div class="shirt">
                <div class="hand-1" id="hand-1">
                </div>
                <div class="hand-2" id="hand-2">
                </div>
              </div>
            </div>
            <!-- Pant -->
            <div class="pant">
              <div class="leg-1" id="leg-1">
              </div>
              <div class="leg-2" id="leg-2">
                <span class="winner-jerseyno">07</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 3rd Place -->
        <div class="box-3">
          <div style="text-align: center;">
            <span class="pos-3">2</span>
          </div>
          <div class="runner-1" onmouseover="runner_1_celebrate()" onmouseout="runner_1_normal()" id="runner-1-main">
            <div style="text-align: center;">
              <div class="runner-1-face">
              </div>
            </div>
            <div style="text-align: center;">
              <div class="medal-2">
                <div class="silver-medal">
                  <span class="number">2</span>
                </div>
                <div class="ribbon-1">
                </div>
                <div class="ribbon-2">
                </div>
                <div class="ribbon-3">
                </div>
                <div class="ribbon-4">
                </div>
              </div>
              <div class="runner-1-shirt">
                <div class="runner-1-hand-1">
                </div>
                <div class="runner-1-hand-2" id="runner-1-hand">
                </div>
              </div>
            </div>
            <div class="runner-1-pant">
              <div class="runner-1-leg-1" id="runner-1-leg-1">
              </div>
              <div class="runner-1-leg-2" id="runner-1-leg-2">
                <span class="runner1-jerseyno">10</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

