<mat-toolbar color="primary" class="app-toolbar">
  <button
    mat-icon-button
    (click)="drawer.toggle()"
    aria-label="Menu"
    class="mr-1"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <span style="font-size: medium">{{ selectedUser }}</span>
  <span class="right ml-1">
    <button
      mat-mini-fab
      [matMenuTriggerFor]="menu"
      color="warn"
      style="font-size: medium; vertical-align: middle"
      class="text-center"
    >
      <span>{{ initials }}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login" (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #drawer
    class="menu-sidenav"
    mode="side"
    opened
    fixedInViewport="true"
  >
    <mat-nav-list class="sidenav-list">
      <a mat-list-item routerLink="./rating" [routerLinkActive]="['is-active']">
        <mat-icon color="primary" class="nav-icon">assessment</mat-icon>
        <span>Team Performance</span>
      </a>
      <a
        mat-list-item
        routerLink="./self-rating"
        [routerLinkActive]="['is-active']"
      >
        <mat-icon color="primary" class="nav-icon">thumbs_up_down</mat-icon>
        <span>Self Performance</span>
      </a>
      <a
        mat-list-item
        routerLink="./review"
        [routerLinkActive]="['is-active']"
        (click)="pendingReviewsCount = 0"
      >
        <mat-icon color="primary" class="nav-icon">date_range</mat-icon>
        <span>Pending Monthly Reviews</span>
        <mat-icon
          *ngIf="pendingReviewsCount > 0"
          color="primary"
          class="nav-icon right"
          style="font-size: small; vertical-align: middle; padding-top: 3%"
          >fiber_manual_record
        </mat-icon>
      </a>
      <a mat-list-item routerLink="./random" [routerLinkActive]="['is-active']">
        <mat-icon color="primary" class="nav-icon">rate_review</mat-icon>
        <span>Add Reviews</span>
      </a>
      <a
        *ngIf="isManager"
        mat-list-item
        routerLink="./manageReviews"
        [routerLinkActive]="['is-active']"
        (click)="pendingApprovalCount = 0"
      >
        <mat-icon color="primary" class="nav-icon">comment</mat-icon>
        <span>Pending Reviews</span>
        <mat-icon
          *ngIf="pendingApprovalCount > 0"
          color="primary"
          class="nav-icon right"
          style="font-size: small; vertical-align: middle; padding-top: 3%"
          >fiber_manual_record
        </mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="p-4 force-full-height full-height">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
